
.clock{
  position: fixed;
  left: 50%;
  top: 50%;
  width: auto;
  transform: translate(-50%,-50%);
  .delimiter{
    height: 1em;
    line-height: 1em;
    vertical-align: top;
  }
  .date{
    font-size: 0.8em;
    line-height: 0.8em;
  }
  .time{
    font-size: 1.3em;
    line-height: 1.3em;
  }
}
